{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <input name="name" type="text" class="form-control mb-2" placeholder="Topic...">
                <input type="submit" class="form-control btn btn-success" value="Submit">
            </form>
        </div>
        <div class="col-md-4"></div>  
    </div>
</div>

{% endblock content %}